*{
  
    margin: 0 auto;
}
header nav{
    display: flex;
 justify-content: space-around;
 margin-top: -25px;


}
header nav ul{
    display: flex;
    flex-direction: row;
   
margin-right: 30px;
}

 ul {
    list-style-type: none;
}
 header h3{
    margin-top: 30px;
    margin-left:20px ;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
header li a{
    margin: 10px;
    color:  black;
    font-family: 'Quicksand', sans-serif;
    }
    .Example-1 li a{
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid blue;
        margin: -10px 2px;
        padding: 8px 13px;
        color: blue;
    }
    