*{
  
    margin: 0 auto;
}
header nav{
    display: flex;
 justify-content: space-around;
 margin-top: -25px;


}
.Example-2{
  margin-top: 25px;
  border: 1px solid rgb(194, 188, 188);
 box-shadow: 0 0 2px rgb(175, 168, 168);
}
header nav ul{
    display: flex;
    flex-direction: row;
   
margin-right: 30px;
}

 ul {
    list-style-type: none;
}
 header h3{
    margin-top: 30px;
    margin-left:20px ;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
header li a{
    margin: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    }
    .Example-1 li a{
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid blue;
        margin: -10px 2px;
        padding: 8px 13px;
        color: blue;
    }
    .Example-1 li a:hover{
        background-color: blue;
        color: #ffffff;
    }
    .Example-1 li a:active{
        box-shadow: 0 0 10px rgb( rgb(92, 92, 196));
        
     }
     h2,h3
 {
  margin-bottom: 0.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

main .my1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-top: 70px;
  }
  .Example-3 main p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 750px;
 margin-top: 10px;
 font-family: 'Quicksand', sans-serif;
 line-height: 30px;
 font-weight: 300px;
 font-size: 20px;
}
section {
    display: flex;
    max-width: 1067px;
    margin: 0 auto;
  margin-top: 40px;
    
  }
  section article {
      width: 900px;
    height: 220px;
    flex: 1 1 calc(33.33% - 20px);
    margin-left:-50px;
    border :solid 1px gainsboro;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.5px);
    
  }
  section article .am1,
  section article h1
   {
       padding: 16px 16px;
    text-align: center;
  }
  span{
    color: rgb(77, 72, 72);
  }
  .Example-4{
    display: flex;
    flex-flow: column wrap;
    
}
.sitis{
    line-height: 30px;
  outline: none;
  border: 1px solid rgb(56, 56, 216);
  color: blue;
  width: 240px;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0px 20px 10px 40px;
font-size: 20px;

}
.sitis:hover{
    background-color: blue;
    color: #ffffff;
    border: none;
    transition: 0.15s;
}
.siti:hover{
    background-color: blue;
}
.siti{
    background-color: rgb(23, 23, 167);
    border: none;
    color: #ffffff;
    width: 240px;
    border-radius:5px;
    padding: 8px 16px;
    line-height: 30px;
      margin: 0 20px 20px 40px;
      font-size: 20px;
    }
    
    .sample-picture{
        width: 280px;
        height: 40px;
        font-size: 25px;
        font-weight: 400;
        padding: 12px 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
       border-bottom: 1px solid rgb(rgb(83, 81, 81));
        background-color: rgb(231, 231, 231);
       line-height: 24px;
       font-family: 'Quicksand', sans-serif;
      }
      footer p,h1,li{
        font-family: 'Quicksand', sans-serif;
      }
      footer .open li{ color: #212529;font-family: 'Quicksand', sans-serif;font-size: 16px;}
      footer li{text-decoration: underline; color: #212529;font-family: 'Quicksand', sans-serif;} footer h1{font-size: 21px;font-weight: bold;}
    footer{
        display: flex;
        justify-content: space-between;
      
        max-width: 970px;
        margin-top: 40px;
    }footer div{margin-bottom:10px ;}
    footer ul{list-style: none;}
    
    
    .footer1 {
        width: 25px;height: 20px;
    }
    @media(max-width:605px){
        h3{
        text-align: center;
        }
        .Example-2{
          margin-top: 70px;
          
        }
        main p{max-width: 100px;}
        ul{
            margin-top: 30px;
            margin-left:20px ;
        }
         ul .Example-1 {
           position: absolute;
           left:200px;top: 110px;
        }
        
        .flex1{
          position: absolute;
          margin-top: 10px;
          margin-left: 90px;
           }
           .flex2{
             position: absolute;
             margin-top: 390px;
             margin-left: 90px;
           }
           .flex3{
             position: absolute;
          margin-top: 730px;
          margin-left: 90px;
           }
           hr{
             margin-top: 1100px;
           }
         
        }
        @media(max-width:670px){
          footer {
            display: flex;
            flex-direction: column;
            position: absolute;
           
            margin-left: -50px;
          }
          footer .open{
            position: absolute;
            left: 200px;top: 50px;
            
          }
          footer .i{
            position: absolute;
            margin-top: 220px;
          }
        }



     
  