*{
  
    margin: 0 auto;
}
header nav{
    display: flex;
 justify-content: space-around;
 margin-top: -25px;


}
header nav ul{
    display: flex;
    flex-direction: row;
   
margin-right: 30px;
}

 ul {
    list-style-type: none;
}
 header h3{
    margin-top: 30px;
    margin-left:20px ;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
header li a{
    margin: 10px;
    color:  black;
    font-family: 'Quicksand', sans-serif;
    }
    .Example-1 li a{
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid blue;
        margin: -10px 2px;
        padding: 8px 13px;
        color: blue;
    }
    .Example-1 li a:hover{
        background-color: blue;
        color: #ffffff;
    }
    .Example-1 li a:active{
        box-shadow: 0 0 10px rgb( rgb(92, 92, 196));
        
     }
     h2,h3
 {
  margin-bottom: 0.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

main .my1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-top: 70px;
  }
  .Example-3 main p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 750px;
 margin-top: 10px;
 font-family: 'Quicksand', sans-serif;
 line-height: 30px;
 font-weight: 300px;
 font-size: 20px;
}
section {
    display: flex;
    max-width: 867px;
    margin: 0 auto;
  margin-top: 40px;
    
  }


     
  